
  button{visibility: hidden;} 
  p{font-size: .7em;}
  #strt{visibility: visible;}
  input{width:30px; padding-left:1em;}
  #len{
    width: 100%;
  }

  #cellCounter{position:absolute; top:465px; left:320px;}

